/**
 * ===========================================================================
 * File: Login.css 
 * Author: Antonio Faienza
 * This file define style of login page and registration page. This two file 
 * is different only for the background page 
 * ===========================================================================
 */


.container{
height: 100%;
align-content: center;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
/* FFC312 */
color: white;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #111;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #111;
width: 100px;
}

.login_btn:hover{
color: #111;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}