/**
 * ===========================================================================
 * File: Navbar.css 
 * Author: Antonio Faienza
 * This file contains the style of main part of page
 * ===========================================================================
 */

/* #main {
    transition: margin-left .5s;
    padding: 16px;
} */

.map {
    width: 100%;
    height: 100%;
}

/*
 * Define style of alert message
 */

.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}