/**
 * ===========================================================================
 * File: Navbar.css 
 * Author: Antonio Faienza
 * This file contains the style of main part of page
 * ===========================================================================
 */

/* #main {
    transition: margin-left .5s;
    padding: 16px;
} */


.map {    
    width: 100%;
    height: 100%;
  }

