/**
 * ===========================================================================
 * File: Navbar.css 
 * Author: Antonio Faienza
 * This file contains the style of main part of page
 * ===========================================================================
 */

/* #main {
    transition: margin-left .5s;
    padding: 16px;
} */

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
    font-family: "Lato", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    MAP
----------------------------------------------------- */
.map {
    width: 100%;
    height: 100%;
}


 /* ---------------------------------------------------
    Define style of alert message
----------------------------------------------------- */
.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}


/* ---------------------------------------------------
    STYLE ICON SVG
----------------------------------------------------- */
.icon {
    display: inline-block;
    font-size: inherit;
    /* height: 1em; */
    overflow: visible;
    vertical-align: -.125em;
    padding-left: 8px; 
    padding-right: 8px; 
    width: 45px;
    height: 45px;
}

svg path {
    fill: #818181 !important;
}


.arrow-left {
    float: left;
    width: 24px;
    height: 24px;
    padding-right: 8px;    
}