/**
 * ===========================================================================
 * File: Navbar.css 
 * Author: Antonio Faienza
 * This file define style of Sidebar
 * REF: https://www.w3schools.com/howto/howto_js_sidenav.asp
 *      https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp
 * ===========================================================================
 */

@import "./font-awesome.min.css";
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    /* height: 100%;
    overflow: hidden; */
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 250px; /* TODO METTERLO A 0*/
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  
    /* padding-top: 70px; */
}

/* Remove focus after click */
.sidenav > *:focus {
    outline: none;
}

/* Adapt image to container div */
.header-sidebar > img {
    max-width: 100%;
    max-height: 100%;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .default-button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn > * {
 
    display:inline-block;
    vertical-align:middle;
    line-height:40px;   
}





/* Dropdown container (hidden by default). Optional: add a lighter background
   color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    align-items:center;
}

.dropdown-container > a:hover {
    color: #f1f1f1;
    padding-left: 25px;

}




/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style of Icon SVG  */
.arrow-right, .arrow-left { 
    width: 24px;
    height: 24px;
}

.arrow-right {
    top: 50px !important;
    display: inline-block;
    /* vertical-align: middle; */
    padding-right: 8px; 
    float: right;   
}

.arrow-left {
    float: left;
    padding-right: 8px;    
}

.icon {
    float: left;
    padding-left: 8px; 
    padding-right: 8px; 
    width: 45px;
    height: 45px;
}

svg path {
    fill: #818181 !important;
}


/* svg:hover path {
    fill: #f1f1f1;
} */


.dropdown-btn:hover, .default-button:hover {
    background-color: #c9c9c9;
}



/* Divider from item of sidebar */
.sidebar-divider {
    display: block;
    margin: auto;
    height: 2px;
    width: 90%;
    /* margin: .5rem 0; */
    overflow: hidden;
    border-top: 1px solid #818181;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}



