
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Add User
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<div id="addTest" class="mainDiv"> 
    <div class="card card-outline-secondary">
        <div class="card-header" id="headerTest">
            <h3 class="mb-0"> <a href="#"><a><img src="../img/plus.svg" class="svg icon header-icon"></a> {{titleSingleTest}}</h3>
        </div>
        <div class="card-body" id="cardBodyUser">
            <form class="form" id="addTestForm" role="form" autocomplete="off">    
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Latitude</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-map"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" value="0" name="latitude" step=".01" required>                                              
                        </div>
                    </div>
                </div>                            
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Longitude</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-map"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" value="0" name="longitude" step=".01" required>                                              
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Timestamp</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input type="date" class="form-control" name="timestamp" id="timestamp">                                              
                        </div>
                    </div>
                </div>
                {{!-- ============ Metrics ================ --}}
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">
                        <h5 class="mb-0">Metrics</h5> 
                    </label>                          
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">PDR (Packet Delivery Ration)</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" max="1" value="0" name="pdr" id="pdr" step=".01">                                              
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Delay</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" max="1" value="0" name="delay" id="delay" step=".01">                                              
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Throughput</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" max="1" value="0" name="throughput" id="throughput" step=".01">                                              
                        </div>
                    </div>
                </div>
                
                {{!-- ===================================== --}}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">
                        <h5 class="mb-0">Others</h5> 
                    </label>                          
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Test Name</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-font"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Test name" name="testName" required>                                    
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Latitude Server</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-globe"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" value="0" name="latitude-server" step=".01" required>                                              
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Longitude Server</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-globe"></i></span>
                            </div>
                            <input type="number" class="form-control"  min="0" value="0" name="longitude-server" step=".01" required>                                              
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="button" id="resetAddTest" class="btn btn-secondary" value="Cancel">
                        <input type="submit" class="btn btn-dark" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Load Scripts
// REF: https://stackoverflow.com/a/28478146/4700162
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<script>       
        $.getScript("../../js/util.js");
        $.getScript("../../js/form.js");
         $.getScript("../../lib/bootbox.min.js");
</script>
 
