
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Add User
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<div id="addUser" class="mainDiv"> 
    <div class="card card-outline-secondary">
        <div class="card-header" id="headerUser">
            <h3 class="mb-0"> <a href="#"><a><img src="../img/plus.svg" class="svg icon header-icon"></a> {{title}}</h3>
        </div>
        <div class="card-body" id="cardBodyUser">
            <form class="form" id="addUserForm" role="form" autocomplete="off" oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Passwords do not match." : "")'>    
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="name1980" name="username" required>                                    
                        </div>
                    </div>
                </div>                            
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg></span>
                            </div>
                            <input type="email" class="form-control" placeholder="name.surname@hotmail.com" name="email" required>                            
                        </div>
                    </div>
                </div>                                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                    <div class="col-lg-9">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password123" id="passwordUserFormAdd" name="password" required>
                             <!-- Meter password -->
                            <meter max="4" id="password-strength-meter-add"></meter>
                            <p class="passwordText" id="password-strength-text-add"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                    <div class="col-lg-9">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password123" name="passwordConfirm" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="button" id="resetAddUser" class="btn btn-secondary" value="Cancel">
                        <input type="submit" class="btn btn-dark" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Load Scripts
// REF: https://stackoverflow.com/a/28478146/4700162
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<script>       
        $.getScript("../../js/util.js");
        $.getScript("../../js/form.js");
         $.getScript("../../lib/bootbox.min.js");
</script>
 
