 <!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// MAP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
 <div id="fullscreen" class="fullscreen">
     <div id="map" class="mainDiv"></div>
 </div>
    


