<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// MAP
//
///////////////////////////////////////////////////////////////////////////////////////
-->

<div id="map" class="mainDiv"></div>

<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// POPUP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<div id="popupGeocoder" class="ol-popup">
    <a href="#" id="popup-closerGeocoder" class="ol-popup-closer"></a>
    <div id="popup-contentGeocoder"></div>
</div>

<script>

    // FIXME async
    //console.log(ciao);
    var m = "{{map}}"
    var t = "{{type}}"
    console.log(globalMap)
    m == undefined && t == undefined ? createMap() : createMap(m, t)

</script>