 <!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// MAP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
 <div id="fullscreen" class="fullscreen">
     <div id="map" class="mainDiv"></div>
 </div>
 <!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// POPUP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
 <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
<div id="popup-content"></div>

<script>
    
    //console.log(ciao);
     var m = "{{map}}"
     var t = "{{type}}"
     console.log(globalMap)
     m == undefined && t == undefined ? createMap() : createMap(m, t)
   
</script>
    


