 <!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// MAP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
 <div id="fullscreen" class="fullscreen">
     <div id="map" class="mainDiv"></div>
 </div>
 <!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// POPUP
//
///////////////////////////////////////////////////////////////////////////////////////
-->
 <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>


<script>
    
     var m = "{{map}}"
     var t = "{{type}}"
     defineMap();
     console.log(globalMap);
     m == undefined && t == undefined ? setCurrentLayer('OSM', 'osm') : setCurrentLayer(m, t)
   
</script>
    


