<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <style>
        body {background-color: red;}
        h1   {color: blue;}
        p    {color: green;}
    </style>
</head>
<body>
    
    {{{body}}}
 
</body>
</html>