<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>IT WORK</h1>
    <form class="modal-content animate" action="http://127.0.0.1:3000/resultRegistration" method="POST">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name">

        <!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw"> -->

        <label for="mail"><b>Mail</b></label>
        <input type="email" placeholder="mail" name="email">
        <button type="submit">Login</button>
    </form>
</body>

</html>