<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<meta name="description" content="In this view you can see the login page ">
	<meta name="author" content="Antonio Faienza">
	
	<!-- Failed to load resource: the server responded with a status of 404 (NOT FOUND) favicon
    REF: https://stackoverflow.com/questions/31075893/im-getting-favicon-ico-error -->
	<link rel="shortcut icon" href="#" />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Font Awesome JS -->
	<script defer src="../lib/fontawesome/solid.js" crossorigin="anonymous"></script>
	<script defer src="../lib/fontawesome/fontawesome.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/login-registration.css">
	<style>
		@import url('../css/fonts/numas.css');
		html,body{
		background-image: url('../img/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		font-family: 'Numans', sans-serif;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign In</h3>
					<!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> -->
				</div>
				<div class="card-body">
					<form method="POST" action="http://localhost:3000/addUser">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{!-- <input type="text" class="form-control" placeholder="username"> --}}
							<input type="text" class="form-control" placeholder="Enter Username" name="name">

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{!-- <input type="password" class="form-control" placeholder="password"> --}}
							<input type="email" class="form-control" placeholder="mail" name="email">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input type="submit" value="Login" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a href="#">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../lib/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="../lib/popper.min.js" crossorigin="anonymous"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>